@CHARSET "UTF-8";
.front-content-arrow_right {
    float:right;
    position:relative;
    height:590px;
}
.front-content-carousel {
    overflow:hidden;
    position:relative;
    width:175px;
    height:515px;
}
.front-content-carousel ul {
    position: absolute;
    white-space: nowrap;
    height:10000px;
    top:11px;
}
.front-content-carousel__arrow_top {
    background-image: url("../images/arrow-up-idle.png");
    display: block;
    height: 44px;
    margin: 0;
    width: 100px;
    position:absolute;
    top:-25px;
    left:0;
    z-index:3;
}
.front-content-carousel__arrow_top:hover {
    background-image: url("../images/arrow-up-hover.png");
}
.front-content-carousel__arrow_bottom {
    background-image: url("../images/arrow-down-idle.png");
    display: block;
    height: 44px;
    margin: 0;
    width: 100px;
    position:absolute;
    right:0;
    bottom:48px;
    z-index:5;
}
.front-content-carousel__arrow_bottom:hover {
    background-image: url("../images/arrow-down-hover.png");
}
.front-content-carousel__preview-picture {
    width:100px;
    height:130px;
}
.front-content-carousel__preview-picture a{
    position:relative;
    padding:0;
    margin:0;
    display:block;
    overflow: hidden;
    height:118px;
    width:100px;
}
.front-content-carousel__preview-picture_right {
    position:relative;
    left:75px;
    top:-33px;
    z-index:3;
}
.front-content-carousel__preview-picture_right:after {
    background-image: url("../images/i_ellipse_right.png");
    background-repeat: no-repeat;
    color: transparent;
    content: ".";
    display: block;
    height: 25px;
    left: 4px;
    position: relative;
    top: -5px;
    width: 17px;
}
.front-content-carousel__preview-picture_right-last:after{
    background-image:none; 
}
.front-content-carousel__preview-picture_left{
    position:relative;
    top:-6px;
}
.front-content-carousel__preview-picture_right:before {
     background-image: url("../images/i_ellipse.png");
    background-repeat: no-repeat;
    color: transparent;
    content: ".";
    display: block;
    height: 25px;
    left: 4px;
    position: relative;
    top: 8px;
    width: 17px;
    z-index: 4;
}
.front-carousel__preview-mask {
    display:block;
    background-image: url("../images/doc-viewer-thumbnail-shaper-idle.png");
    background-repeat:no-repeat;
    width:100px;
    height:118px;
    position:absolute;
}
.front-carousel__preview-mask:hover {
    background-image: url("../images/doc-viewer-thumbnail-shaper-hover.png");
    background-repeat:no-repeat;
}
.front-carousel__preview-mask_active {
    background-image: url("../images/doc-viewer-thumbnail-shaper-current.png");
    background-repeat:no-repeat;
}
.front-carousel__preview-mask_active:hover {
    background-image: url("../images/doc-viewer-thumbnail-shaper-current.png");
    background-repeat:no-repeat;
}
.front-content-carousel__preview-picture img{
    max-width:100px;
    max-height:118px;
}
.front-body-content-picture-big {
    float:left;
    width:423px;
}
.front-body-content-picture-big img {
    border:1px solid #ddeaf3;
    width:423px;
    margin-top:5px;
}
.front-body-content-picture-big h2 {
    margin:14px 0 7px 0;
}
.front-body-content-picture-big p {
    margin: 7px 0;
}
