/*content start*/
.front-body {
	width: 1000px;
	margin: 0 auto;
	height: auto !important;
	height: 100%;
	min-height: 100%;
	border: solid #eee;
	border-width: 0 1px;
}
.front_cbpw-block {
	text-align: center;
}
.front-push-bottom {
	height: 41px;
}
.front-title-content{
	font-family: 'Verdana';
	font-size: 36px;
}
/*content end*/