@CHARSET "UTF-8";
.front-body-content-carousel {
    float:right;
}
.front-content-carousel__preview-picture {
    margin-bottom:10px;
}
.front-content-carousel__preview-picture a{
    position:relative;
    padding:0;
    margin:0;
    display:block;
    overflow: hidden;
    height:118px;
}
.front-content-carousel__preview-picture_left {
    position:relative;
    left: -53px;
}
.front-carousel__preview-mask {
    display:block;
    background-image: url("../images/doc-viewer-thumbnail-shaper-idle.png");
    background-repeat:no-repeat;
    width:110px;
    height:118px;
    position:absolute;
}
.front-carousel__preview-mask:hover {
    background-image: url("../images/doc-viewer-thumbnail-shaper-hover.png");
    background-repeat:no-repeat;
}
.front-carousel__preview-mask_active {
    background-image: url("../images/doc-viewer-thumbnail-shaper-current.png");
    background-repeat:no-repeat;
}
.front-carousel__preview-mask_active:hover {
    background-image: url("../images/doc-viewer-thumbnail-shaper-current.png");
    background-repeat:no-repeat;
}
.front-carousel__preview-mask img{
    width:110px;
    height:118px;
}
.front-body-content-picture-big {
    float:left;
}
.front-body-content-picture-big img {
    border:1px solid #ddeaf3;
}
